<div class="col-md-4 col-md-offset-4 Plant Information">
  <h2>Plant Information</h2>

  <%= form_for [:sensor, :v1, @plant] do |f| %>

    <%= form_group_for f, :sensorID, label: false do %>
      <div class="input-group">
        <%= f.number_field :sensorID, class: 'form-control input-lg', placeholder: 'SensorID' %>
        <span class="input-group-addon glyphicon glyphicon-tag"></span>
      </div>
    <% end %>

    <%= form_group_for f, :name, label: false do %>
      <div class="input-group">
        <%= f.text_field :name, class: 'form-control input-lg', placeholder: 'Plant Type' %>
        <span class="input-group-addon glyphicon glyphicon-leaf"></span>
      </div>
    <% end %>

    <%= form_group_for f, :sci_name, label: false do %>
      <div class="input-group">
        <%= f.text_field :sci_name, class: 'form-control input-lg', placeholder: 'Scientific Name' %>
        <span class="input-group-addon glyphicon glyphicon-tree-conifer"></span>
      </div>
    <% end %>

    <%= form_group_for f, :nickname, label: false do %>
      <div class="input-group">
        <%= f.text_field :nickname, class: 'form-control input-lg', placeholder: 'Nickname' %>
        <span class="input-group-addon glyphicon  glyphicon-tree-conifer"></span>
      </div>
    <% end %>

    <%= form_group_for f, :zipcode, label: false do %>
      <div class="input-group">
        <%= f.number_field :zipcode, class: 'form-control input-lg', placeholder: 'Zipcode' %>
        <span class="input-group-addon glyphicon glyphicon-home"></span>
      </div>
    <% end %>

    <%= form_group_for f, :notes, label: false do %>
      <div class="input-group">
        <%= f.text_field :notes, class: 'form-control input-lg', placeholder: 'Notes' %>
        <span class="input-group-addon glyphicon glyphicon-pencil"></span>
      </div>
    <% end %>

    <div><%= f.submit "Save", method: 'create', class: 'btn btn-primary btn-block btn-lg' %></div>
  <% end %>

</div>
