<div class="col-md-6 col-md-offset-3 well Plant Information">
  <h2>Plant Information</h2>

  <%= form_for [:sensor, :v1, @plant] do |o| %>

    <%= form_group_for o, :sensorID, label: false do %>
      <div class="input-group">
        <%= o.text_field :sensorID, class: 'form-control input-lg', placeholder: 'SensorID' %>
        <span class="input-group-addon glyphicon glyphicon-tag"></span>
      </div>
    <% end %>

    <%= form_group_for o, :name, label: false do %>
      <div class="input-group">
        <%= o.text_field :name, class: 'form-control input-lg', placeholder: 'Name Your Plant' %>
        <span class="input-group-addon glyphicon glyphicon-leaf"></span>
      </div>
    <% end %>

    <%= form_group_for o, :sci_name, label: false do %>
      <div class="input-group">
        <%= o.text_field :sci_name, class: 'form-control input-lg', placeholder: 'Scientific Name' %>
        <span class="input-group-addon glyphicon glyphicon-tree-conifer"></span>
      </div>
    <% end %>

    <%= form_group_for o, :nickname, label: false do %>
      <div class="input-group">
        <%= o.text_field :nickname, class: 'form-control input-lg', placeholder: 'Nickname' %>
        <span class="input-group-addon glyphicon  glyphicon-tree-conifer"></span>
      </div>
    <% end %>

    <%= form_group_for o, :zipcode, label: false do %>
      <div class="input-group">
        <%= o.text_field :zipcode, class: 'form-control input-lg', placeholder: 'Zipcode' %>
        <span class="input-group-addon glyphicon glyphicon-home"></span>
      </div>
    <% end %>

    <%= form_group_for o, :notes, label: false do %>
      <div class="input-group">
        <%= o.text_field :notes, class: 'form-control input-lg', placeholder: 'Notes' %>
        <span class="input-group-addon glyphicon glyphicon-pencil"></span>
      </div>
    <% end %>

    <div><%= o.submit "Save", class: 'btn btn-primary btn-block btn-lg' %></div>
  <% end %>

</div>
